
.row
	.col-md-offset-3	
		.h1 Welcome to your dashboard ! 
		%br
	
.row
	.col-md-6
		.box.panel.panel-default
			.panel-body
				= link_to 'My messages', messages_path, class: "btn btn-success"

	.col-md-6
		.box.panel.panel-default
			.panel-body
				= link_to 'My watches', mywatches_path, class: "btn btn-success"


.row

	


	

	

		



	

