
#hello
	

	.jumbotron.text-center.header


		
			
		.h1 Welcome to Watchpurist !
		.h3 the best way for selling or buying luxury watches

		%br	
		%br	
		%br		
		
		
		= link_to "Go", root_path , class: "btn btn-success btn-lg"