
%head
	.row
%body
	.row
		.jumbotron.flex
			.text-center
				.h1 Welcome to Watchpurist !
				.h3 the best way for selling or buying luxury watches

		.jumbotron.flex
			.input-group
				%input.form-control{:placeholder => "Search for...", :type => "text"}/
				%span.input-group-btn
					%button.btn.btn-default{:type => "button"} Go!