.row	
	.jumbotron
		.text-center
			.h1.center-block My messages : 

- if @privatemessages.count > 0 
	- @privatemessages.each do |mess|
		.box.panel.panel-default
			.panel-body
				.row
					.col-md-8
						- @posts.each do |post|
							%h4 New message for your watch : #{post.title}
								

								
					.col-md-4.text-center
						- @posts.each do |post|
							
							= link_to "Read" , post_private_message_path(mess,post), class: "btn btn-success center-block"
					

						
			.panel-footer
				.row	
					.col-md-12
						%h5  #{time_ago_in_words mess.created_at} ago
						
					
						
						

					
						
					
- else
	.row	
		.jumbotron
			.text-center
				%h3.center-block You don't have any message yet !

= will_paginate @privatemessages , renderer: BootstrapPagination::Rails