.container
	.col-md-6.col-md-offset-3
		%h1>Contact seller

		= render 'form'
		%br
		%br

		.title 
			= fa_icon "exclamation-triangle"
			Please be carrefull of the proposals too much enticing and too low prices.
			Never pay in advance a salesman you do not know

		%br 

	 