.container

	.h1.title.text-center Contact us
	%br
	%br
	.filter 
		.row
			.col-sm-6
				Here @ watchpurist, we want to help professionals and private to sell their watches without having to pay
				any fees like on the other watch marketplaces.
			.col-sm-6
				We decided to create a brand new site that will be simple and beautifull.
				Moreover, we want to gather all the best watch sellers around the world to provide the opportunity to reach new costumers all around the world.

	%br
	%br