
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require 'masonry/transitions'
 
 */



@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";




$backgroundNav : #ffffff;
$backgroundBody : #E9E9E9;
$red : #FD0E48;




body {
	background: $backgroundBody;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;

}




nav {
	.navbar-nav{
		padding-bottom: 0px;
		background-color: $backgroundNav;
	}
	/*box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);*/
	.navbar-brand {
		background: $backgroundNav;
		padding-top: 0px;
		width: 250px;
		a {
		
			color: $red;
			font-weight: bold;
			&:hover {
				text-decoration: none;
			}
		}


	}

	
}
.navbar-default {
		background-color: $backgroundNav;
		padding-top: 10px;
		padding-bottom : 10px;
		
}



.logo {

	img {
		height: 55%;
		width : 55%;
	}



}

.title {
	color: $red;
}
.jumbotron {
	background-color: $backgroundBody;
	.h1{
	color: $red;
}
}



.search{
	text-align:center;
	border-color: #FD0E48;
	width: 400px;
	height: 50px;
	border-radius: 20px;
	border-style: solid;
	border-width: 0,5px;
	border: 0,1px;
   }

.filter {
	margin: 10px;
	background-color: #ffffff;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
	border-color: $red;
	border-width: 0,5px;
	border-radius: 7px;
	padding: 20px;
	width: 100%;
}

.boxpostuser {
	  margin: 10px;
	  
	  height: auto;
	  min-height: 200px;
	  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
	  border-color: $red;
	  border-width: 0,5px;
	  border-radius: 7px;
	  text-align: left;
	  background-color: #ffffff;
	  width: auto;

	  .text {
	  	
		margin-top: 20px;
		margin-bottom: 20px;
	  	padding-top: 40px;
	  	padding-left: 20px;
	  	margin-left: 0px;
	  	width: 100%;
	  	height: 100%;
	  	
		
	  }
	  .price {
	  	
		margin-top: 20px;
		margin-bottom: 20px;
	  	background: #F6F6F6;
	  	float: right;

	  	height :100%;
	  	color: #000000;
	  	font-weight: bold;
	  	text-align: center;

	  	padding: 60px 0px 0px 0px;
	  	width: 100%;
  	
	  }
	  .avatar {
	  	width: 200px;
	  	height: 200px;
	  	-webkit-border-radius:50px;
    	-moz-border-radius:50px;
    	border-radius:100px;
    	box-shadow: 0px 5px 5px #656565;
    	overflow: hidden;
	  	
	  }
	  .imgbox{
	  	width: 180px;
	  	height: 180px;
	  	overflow: hidden;
	  	
	  	margin-top: 20px;
	  	margin-bottom: 20px;
	  	margin-right: 20px;
	  	margin-left: 5px;
	  	text-align: center;



	  }

	  img {
	  	
	  	margin:0 -100%;
		vertical-align: middle;
		height: 100%;
		

	  }
	  .title {
	  	
	  	a {
				color: $red;
				font-size: 18px;
				padding-top: 0px;
	  	}

	  }
	  h2 {
	  	font-size: 22px;
	  	margin: 0;
	  	padding: 10px 10px;
	  	a {
				color: $red;
	  	}
	  }
	  .user {
	  	font-size: 12px;
	  	border-top: 1px solid #EAEAEA;
			padding: 15px;
			margin: 0;
	  }
	}

/* For Small devices */

@media only screen and (max-width: 767px) {

	

	body {
		padding-right: 0px;

		.navbar-default {
			padding: 0px;
		}

		.posts {

		
			.boxpost {
				height: auto;
				padding-top: 30px;
				
				.text {
					padding-top: 0px;
					height: auto;
					
				}

				.price {
					padding-top: 0px;
					height:auto;
					.btn-primary {
						width: 50px;

					}
				}

			 	.imgbox{
	  				width: 100px;
	  				height: 100px;
	  				overflow: hidden;
	  				
	  				margin-top: 10px;
	  				margin-bottom: 10px;
	  				margin-right: 10px;
	  				margin-left: 0px;
	  				text-align: center;

	  				-webkit-border-radius:50px;
    				-moz-border-radius:50px;
    				border-radius:50px;
    				box-shadow: 0px 5px 5px #656565;

	  			}

	  		}
		}
	}

}

	






.posts {
  
  
  .boxpost {
	  margin: 10px;
	  
	  height: auto;
	  min-height: 200px;
	  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
	  border-color: $red;
	  border-width: 0,5px;
	  border-radius: 7px;
	  text-align: left;
	  background-color: #ffffff;
	  width: 100%;
	  

	  .text {
	  	
		margin-top: 20px;
		margin-bottom: 20px;
	  	padding-top: 40px;
	  	padding-left: 20px;
	  	margin-left: 0px;
	  	width: 100%;
	  	height: 100%;
	  	
		
	  }
	  .price {
	  	
		margin-top: 20px;
		margin-bottom: 20px;
	  	background: #F6F6F6;
	  	float: right;

	  	height :100%;
	  	color: #000000;
	  	font-weight: bold;
	  	text-align: center;

	  	padding: 60px 0px 0px 0px;
	  	width: 100%;
  	
	  }
	  .imgbox{
	  	width: 180px;
	  	height: 180px;
	  	overflow: hidden;
	  	
	  	margin-top: 20px;
	  	margin-bottom: 20px;
	  	margin-right: 20px;
	  	margin-left: 5px;
	  	text-align: center;

	  }

	  img {
	  	
	  	margin:0 -100%;
		vertical-align: middle;
		height: 100%;

	  }
	  .title {
	  	
	  	a {
				color: $red;
				font-size: 18px;
				padding-top: 0px;
	  	}

	  }
	  h2 {
	  	font-size: 22px;
	  	margin: 0;
	  	padding: 10px 10px;
	  	a {
				color: $red;
	  	}
	  }
	  .user {
	  	font-size: 12px;
	  	border-top: 1px solid #EAEAEA;
			padding: 15px;
			margin: 0;
	  }
	}   
  
}


#edit_page {
	.current_image {
		img {
			display: block;
			margin: 20px 0;
		}
	}
}

#post_show {
	.panel-heading {
		padding: 0;
	}
	.post_image {
		img {
			max-width: 100%;
			width: 100%;
			display: block;
			margin: 0 auto;
		}
	}
	.panel-body {
		padding: 35px;
		h1 {
			margin: 0 0 10px 0;
		}
		.description {
			color: #868686;
			line-height: 1.75;
			margin: 0;
		}
	}
	.panel-footer {
		padding: 20px 35px;
		p {
			margin: 0;
		}
		.user {
			padding-top: 8px;
		}
	}
	
}

#index_private_message {
	.panel-body-read {
		padding: 10px;
		h1 {
			margin: 0 0 10px 0;
		}
		background-color: #FEE7EC ;
		border: 1px solid #FD0E48 ;
	}
}

.img {
	overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:100px;
    height:100px;
    box-shadow: 0px 5px 5px #656565;
}

.userbox {
	background-color: #ffffff;
	height: 150px;
	padding: 30px 30px 30px 30px;
}

#hello {
	.header {
		height: 100vh;
		width: 100%;
		background-image: url('/images/hello.jpg');
		background-size: cover;
		background-position: center;
		
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		.h1 {
			color:#FD0E48;
			background: #ffffff;
		}
		.h3 {
			color:#FD0E48;
			background: #ffffff;
		}
		.btn-lg {
			padding: 18px 28px;
			font-size: 22px;
			line-height: normal;
			-webkit-border-radius: 8px;
			-moz-border-radius: 8px;
            border-radius: 8px;
            width: 200px;
        }
	}
  
  
}


textarea {
	min-height: 250px;
}

.dropdown-item{
	display:inline;
	color: #FD0E48;
	background: $backgroundNav;
	
}

.dropdown-menu{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FD0E48;
	width: 300px;
	background-color: $backgroundNav;
	
}


.pagination > li > a,
.pagination > li > span {
    color: #FD0E48; // use your own color here
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #FD0E48;
    border-color: #FD0E48;
}


